.login__ {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.spotify__image {
    width: 100vh;
}
.login__button {
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}